/*
*/
/*
   Reset
------------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, input, select {margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
table, td, th {vertical-align: middle;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img {border: none;}
:focus {outline: 0;}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}








/*
   General
------------------------------------------------------------------- */

html {
    height: 100%;
    padding-bottom: 1px; /* force scrollbars */
}

body {
    background: #FFF;
    color: #444;
    font: normal 75% sans-serif;
    line-height: 1.5;
}


/*
   Typography
------------------------------------------------------------------- */

/* Headings */

h1 {
    color: #444;
    line-height: 1;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 3.6em;
    font-size:50px;
    margin: 0.5em 0;

}


/* Text elements */

p {margin-bottom: 1em;}

abbr, acronym {border-bottom: 1px dotted #666;}
address {margin-bottom: 1.5em;}
blockquote {margin: 1.5em;}
del, blockquote { color:#666; }
em, dfn, blockquote, address {font-style: italic;}
strong, dfn {font-weight: bold;}
sup, sub {line-height: 0;}

pre {
    margin: 1.5em 0;
    white-space: pre;
}
pre,code,tt {
    font: 1em monospace;
    line-height: 1.5;
}


/* Lists */

li ul, li ol {margin-left: 1.5em;}
ul, ol {margin: 0 0 1.5em 1.5em;}

ul {list-style-type: disc;}
ol {
    list-style-type: decimal;
    margin-left: 1.9em;
}

dl {margin: 0 0 1.5em 0;}
dl dt {font-weight: bold;}
dd {margin-left: 1.5em;}


/* Special lists */

ul.plain-list li, ul.nice-list li, ul.tabbed li {
    list-style: none;
    margin-top: 0;
}

ul.tabbed {
    display: inline;
    margin: 0;
}
ul.tabbed li {float: left;}

ul.plain-list {margin: 0;}

ul.nice-list {margin-left: 0;}
ul.nice-list li {
    border-top: 1px solid #EEE;
    list-style: none;
    padding: 4px 0;
}
ul.nice-list li:first-child {border-top: none;}
ul.nice-list li .right {color: #999;}


/* Tables */

table {margin-bottom: 1.5em; width: 100%;}
th {font-weight: bold;
    font-size: 1rem;
}
td {
    font-weight: bold;
    font-size: 1rem;
}



table.table-detail-product {
    border: 2px solid #CCB;
    margin-bottom: 2em;
    width: 100%;
}
table.table-detail-product  {
    background: #F0F0F0;
    border: 1px solid #DDD;
    color: #555;
    text-align: left;
}


/* Images */

img.bordered,img.alignleft,img.alignright,img.aligncenter {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 3px;
}
img.alignleft, img.left {margin: 0 1.5em 1em 0;}
img.alignright, img.right {margin: 0 0 1em 1.5em;}


/* Floats */

.left,.alignleft {float: left;}
.right,.alignright {float: right;}

.clear,.clearer {clear: both;}
.clearer {
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
}


/*
   Layout
------------------------------------------------------------------- */

/* Common */
#top, #sub-nav {border-bottom: 1px solid #DDD;}




/* Header */
#header {padding-top: 10px;}

/* Top */
#top {padding-bottom: 5px;}


/* Logo */
#logo {	border-right: 1px solid #DDD;
    padding: 10px 40px 10px 0;
    margin-right: 40px;
}
#logo img {}

/* Navigation */
.navigation a {
    color: #888;
    text-decoration: none;
}
.navigation a:hover {color: #002;}
.navigation li.current-tab a {color: #222;}

#main-nav li:first-child, #sub-nav li:first-child {margin-left: 0;}

/* Main navigation */
#main-nav {padding-top: 30px;}
#main-nav li {margin: 0 1.5em;}
#main-nav a {
    font-size: 1.8em;
    line-height: 1em;
    padding-bottom: 1px;
}
#main-nav li.current-tab a {color: #333;}
#main-nav a:hover {color: #002;}
#main-nav li.current-tab a {border-bottom: 1px solid #94CC5F;}

/* Subnav */
#sub-nav {
    border-bottom: 1px solid #DDD;
    padding: 1px 0;
}
#sub-nav a {
    font-size: 1.2em;
    text-decoration: none;
}

/* Footer */

#footer {
    border-top: 1px solid #DDD;
    color: #777;
    padding: 16px 0 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;

}

#footer p {margin-bottom: 0.4em;}
#footer .text-separator {
    padding: 0 3px;
    color: #BBB;
}
#footer a:hover {color: #000;}

/*
   Misc overriding classes
------------------------------------------------------------------- */

/* Border */

.noborder {border: 0;}
.notborder {border-top: 0;}
.norborder {border-right: 0;}
.nobborder {border-bottom: 0;}
.nolborder {border-left: 0;}

/* Margin */

.nomargin {margin: 0;}
.notmargin {margin-top: 0;}
.normargin {margin-right: 0;}
.nobmargin {margin-bottom: 0;}
.nolmargin {margin-left: 0;}

/* Padding */

.nopadding {padding: 0;}
.notpadding {padding-top: 0;}
.norpadding {padding-right: 0;}
.nobpadding {padding-bottom: 0;}
.nolpadding {padding-left: 0;}


/*
   IE Fixes (zzz)
------------------------------------------------------------------- */

* html .navigation, * html #footer, * html #splash, * html .comment ul {height: 0.01%;}
* html #footer-left {width: 500px;}
.navigation, #splash, .comment ul {min-height: 0.01%;}


